<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94119762808-924tgs35ta0b24fm9cndkr5bdjfrksk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94119762808-924tgs35ta0b24fm9cndkr5bdjfrksk2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>94119762808-egmucao1rkhf2ou5o5d0dd6ggss8v9sp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXwdxYH5WDEpguT7HMYGs7Qo8mXe4VfJw</string>
	<key>GCM_SENDER_ID</key>
	<string>94119762808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freelance</string>
	<key>PROJECT_ID</key>
	<string>homantra-90dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>homantra-90dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94119762808:ios:56a1a5a6650dcb5e</string>
	<key>DATABASE_URL</key>
	<string>https://homantra-90dbe.firebaseio.com</string>
</dict>
</plist>